nav.navbar.navbar-expand-lg.navbar-light.bg-light
	.container-fluid
		a.navbar-brand(href="/") Top E-com

		button.navbar-toggler(
			type="button" 
			data-bs-toggle="collapse" 
			data-bs-target="#navbarNav" 
			aria-controls="navbarNav" 
			aria-expanded="false" 
			aria-label="Toggle navigation"
		)
			span.navbar-toggler-icon

		.collapse.navbar-collapse#navbarNav
			ul.navbar-nav
				li.nav-item
					a.nav-link.active(aria-current="page" href="/about") About
				li.nav-item
					a.nav-link(href="#") Features
				li.nav-item
					a.nav-link(href="#") Pricing
				li.nav-item
					a.nav-link.disabled(
						href="#" 
						tabindex="-1" 
						aria-disabled="true"
					) Pricing